h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.blogPostTitleImage {
  height: 280px;
}

.blogTitle{
    border-top: 5px white solid;
    border-bottom: 5px white solid;
    text-align: center;
}

.blogPost {
  background-color: #D5D3D2;
}